<!DOCTYPE html>
<html>
<head th:replace="~{base :: head}">
</head>
<body>

	<div th:replace="~{base :: logo}"></div>

	<div class="container">

		<div th:replace="~{base :: titulo('Novo Pedido')}"></div>

		<div class="card mt-3">
			<form th:object="${requisicaoNovoPedido}" class="card-body"
				th:action="@{/pedido/novo}" method="POST">
				<div class="form-group">
					<label for="nome">Produto</label> <input th:field="*{nome}"
						class="form-control" th:errorclass="is-invalid"
						placeholder="nome do produto" /> <small>Informa qual o
						nome do produto.</small>
					<div th:errors="*{nome}" class="invalid-feedback">Erros do
						nome do produto</div>
				</div>
				<div class="form-group">
					<label for="urlProduto">Url</label> <input th:field="*{urlProduto}"
						class="form-control" th:errorclass="is-invalid"
						placeholder="url do produto" /> <small>Procure em um site
						o produto que você deseja e cole a url da página aqui.</small>
					<div th:errors="*{urlProduto}" class="invalid-feedback">Erros
						do url do produto</div>
				</div>
				<div class="form-group">
					<label for="urlImagem">Imagem</label> <input
						th:field="*{urlImagem}" class="form-control"
						th:errorclass="is-invalid" placeholder="url da imagem" /> <small>Copie
						a url de uma boa imagem do produto e cole aqui para ajudar a
						conseguir compradores.</small>
					<div th:errors="*{urlImagem}" class="invalid-feedback">Erros
						do url da imagem do produto</div>
				</div>
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea th:field="*{descricao}" class="form-control"
						placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
				</div>
				<button class="btn btn-primary" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>
</html>